<IfModule mod_rewrite.c>
    #Options +FollowSymLinks
    RewriteEngine on
    RewriteBase /
    RewriteCond $1 !^(index\.php|google89147be2b2c2adc4.html|images|stylesheets|scripts|robots\.txt|server-status)
    #Send request via index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>

#Caching schema
<FilesMatch "\.(jpg|css|png)$">
    Header set Cache-Control "max-age=0"
</FilesMatch>